
<% provide :title, t("title") %>
<div style="min-height: 800px; background-image: url('https://c4.wallpaperflare.com/wallpaper/714/674/405/sunset-the-plane-light-airport-wallpaper-preview.jpg'); background-repeat: no-repeat; background-size:1400px 790px" class="center jumbotron" >
  <h1 style="color: #777"><%= t "title" %></h1>
</div>
