.create-request {
  i {
    font-size: 24px;
  }
}

.flex-form{
  display: flex !important;
  float: right;
  width: 50%;
  padding-bottom: 40px;
}

.search-field{
  min-width: 150px
}

.request-form{
  display: flex !important;
  float: right;
  width: 20%;
  padding-bottom: 40px;
}

.plane-form{
  display: flex !important;
  float: right;
  width: 20%;
  padding-bottom: 40px;
}

.location-form{
  display: flex !important;
  float: right;
  width: 40%;
  padding-bottom: 40px;
}

.flight-form{
  display: flex !important;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
}

.my-require {
  position: relative;

  &::after {
    color: red;
    position: absolute;
    top: 0px;
    right: -10px;
    content: '*'
  }
}

.field_with_errors{
  width: 100%;
}

#form-request{
  padding: 1.88rem 1.81rem;
}

.btn-create{
  float: right;
}

.nested-fields{
  width: 100%;
}

.del-col{
  margin-top: 3%;
}

.btn-add{
  margin-left:4%;
}

.row-flight{
  padding-top: 4%;
}

.plane-image{
  margin-top: 3%;
}

.plane-img{
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
}
